<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fail</title>
    <style>
        a{
            text-decoration: none;
            background-color: rgb(233, 231, 231);
            box-shadow: 0 5px 0 rgb(148, 146, 146);
            border-radius: 10px;
            font-weight: bold;
            color: black;
        }
        a:hover{
            opacity: 0.7;
        }
        a:active{
            box-shadow: none;
            margin-top: 5px;
        }
        
    </style>
</head>
<body>
    <h1 style="margin: 130px auto -130px;width: 100px;">Failed!!</h1>
    <div style="display: flex;height: 100px; width: 600px; margin: 300px auto;justify-content: space-between;">
        
        <a href="/login" style="text-align: center; line-height: 105px;width: 200px;">Sign In</a>
        <a href="/register" style="text-align: center; line-height: 100px;width: 200px;">Sign Up</a>

    </div>
</body>
</html>